
$p-text: rgb(58, 85, 85);
$primary-black: rgb(7,7,7);
$primary-white: rgd(255,255,255);
$button-bordere: rgb(33,33,33) 0.1rem solid;
$btn-border-white: rgb(225,255,255) 0.1rem solid;
$btn-background: rgd(53,53,53);