@use '../abstracts/' as *;
@use '../base/' as *;
@use '../components/' as *;

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10 rem;
    min-height: fit-content;
    .section_pic_container {
        display: flex;
        height: 400px;
        width: 400px;
        margin: 0;
    }
}

.secito_container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    .section_text {
        align-self: center;
        text-align: center;
        .section_text_p1 {
            font-size: 1.75rem;
            margin-bottom: 1rem;
        }
        .title {
            font-size: 3rem;
            text-align: center;
        }
        .section_text_p2 {
            font-size: 1.75rem;
            margin-bottom: 1rem;

        }
    }
    
    .section_text_p {
        font-weight: 600;
    }
}

.section_container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}


